@import "../../global.scss";

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.projects {
    
    .project-title-container {
        margin-top: 150px;
        text-align: center;
        width: 100%;
        
        .project-title {
            animation: fadeIn 2s;
        }
    }

    

    
}


