@import "../../global.scss";

.project-paper {
    position: relative;
    overflow: hidden;
    transition: 1s;
}



.project-paper::before {
    content: "";
    background: linear-gradient(90.21deg,  #233554 -5.91%,#249c80 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    left: 0;
    height: 0;
    transition: 0.4s ease-in-out;
}

.project-paper:hover::before {
    height: 100%;
}

.project-paper-content {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease-in-out;
    opacity: 0;
    width: 100%;
}

.project-paper:hover .project-paper-content {
    top: 50%;
    opacity: 1;
}


