@import "../../global.scss";

div {

    .row {

        .image {

            width: 50%;
            height: 80%;
            
            img {
                width: 100%;
                padding-left: 50px;
                border-radius: 10px;
            }
        }

        .description {  
           width: 50%;
           position: relative;
           display: flex;
           justify-content: center;
           align-items: center;
           top: 325px;
           left: 48%;
           flex-wrap: wrap;
         
           .summary {
               z-index: 2;
               background-color: $lightestNavy;
               padding: 2rem;
               border-radius: 25px;
               box-shadow: 7px 11px 29px -5px rgba(0,0,0,0.56); 
               margin: 0;  
               font-size: 15px; 
               position: relative;
               display: flex;
               top: 20%;
           }

           div {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 2%;

                ul {
                    margin-left: 10%;
                    width: 100%;

                    li {
                        list-style: none;
                        justify-content: space-between;
                        text-align: center;
                        display: inline;
                        margin: 10px;
                    }

                }  
            }

            .btn-link-div {

                display: flex;
                justify-content: space-between;
                width: 30%;

                .live-link {
                    color: white;
                    text-decoration: none;
                    padding: 10px;
                    background-color: $darkGreen;
                    border: 2px solid $darkGreen;
                    border-radius: 5px;
                    align-items: center;

                    &:hover {
                        background-color: #112240;
                        color: $brightGreen;
                        transition: 1s;
                    }
                }

                .github-repo {
                    color: $brightGreen;
                    text-decoration: none;
                    padding: 10px;
                    background-color: $navy;
                    border: 2px solid $darkGreen;
                    border-radius: 5px;
                    align-items: center;

                    &:hover {
                        background-color: $darkGreen;
                        color: white;
                        transition: 1s;
                    }
                }
                

            }
        }
    }

}