@import '../../global.scss';

.aboutMe {

    margin-top: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;
    align-items: center;
    

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -3;
        bottom: 0;
        transform-origin: left bottom;
        left: 0;
        transform: skewY(-3deg);
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -3;
        bottom: 0;
        left: 0;
        transform-origin: right top;
        
        transform: skewY(-3deg);
    }
  

    .container {

        .row {
            display: flex; 
            justify-content: center;
            width: 100%;
        
        .about-title {
            text-align: center;
            width: 100%;
        }
       
    
    .about-content {
        margin-right: 5%;
        width: 40%;
        font-size: 20px;
       

        p {
            color: $lightSlate;
            font-family: $font-sans;
            line-height: 1.75;
        }
    }

    .image-col {
        float: right;
        

      

        

        img {
            width: 250px;
            border-radius: 50px;
            background-color: $brightGreen;
            opacity: 0.8;
            box-shadow: 7px 11px 29px -5px rgba(0,0,0,0.56); 
            position: relative;
            top: 5%;
            

            &:hover {
                opacity: 1;
                border-radius: 5px;
                transition: 1s;
            }
        }

        }
   
    }

    }
}

@media screen and (max-width: 995px) {
    .aboutMe {
        height: 80vh;
        &::before {
            transform: none;
            }
    
            &::after {
                transform: none;
            }

            .container{
                .row {
                    .about-content {
                        font-size: 14px;
                        width: 80%;
                      }

                      .image-col {
                        img {
                            width: 200px;
                        }
                    }
                }
            }

         

           

                    
    
                }
}