@import '../../global.scss';

.about-me {

    margin-top: 20%;
    display: flex;
    justify-content: center;

  

    .container {

        .row {
            display: flex; 
            justify-content: center;
            width: 100%;
        
        .about-title {
            text-align: center;
            width: 100%;
        }
       
    
    .about-content {
        margin-right: 5%;
        width: 40%;
        font-size: 20px;
    }

    .image-col {
        float: right;

        &::after {
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: 95%;
            border-radius: 10px;
            border: 2px solid $brightGreen;
            top: -90%;
            left: 15px;
            z-index: -1;
            
        }

        

        img {
            width: 300px;
            border-radius: 10px;
            background-color: $brightGreen;
            
        }

        }
   
    }

    }
}