@import '../../global.scss';

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.skills {
    background-color: $lightestNavy;
    position: relative;
    overflow: visible;
    

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        transform-origin: left bottom;
        left: 0;
        transform: skewY(3deg);
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        bottom: 0;
        left: 0;
        transform-origin: right top;
        
        transform: skewY(3deg);
    }
    
    text-align: center;
    height: 75vh;
    width: 100%;
    
    .container {
        color: $lightestSlate;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

        .skills-title {
            text-align: center;
            width: 100%;
        }
        
        .skills-circle {
            
            position: relative;
            margin: 5%;
         
            width: 70%;

                .skills-btn {
                    position: absolute;
                    top: -15%;
                    left: -5%;
                    padding: 10px;
                    background-color: $brightGreen;
                    border: 2px solid $brightGreen;
                    border-radius: 5px;
                    box-shadow: 7px 11px 29px -5px rgba(0,0,0,0.56);
                    color: white;
                    font-weight: bold; 

                    &:hover {
                        background-color: $lightestNavy;
                        transition: 0.7s;
                    }
                }
                
                .icon-div {
                    display: flex;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                  
                 
                   
     
                    .caption {
                
                     display: none;
        
                    }

                    .icon {
                      
                        width: 2em;
                        height: 4em;
                        margin: -2em;
                        &:hover {
                            color: $brightGreen;
                            width: 2.5em;
                            transition: 0.5s;
                         
                        }
                    }

                    &:hover {

                           
                        .caption {
                            display: block;
                            -webkit-animation: fadeIn 1s;
                            animation: fadeIn 1s;
                            position: absolute;
                            left: 115px;
                            top: 20px;
                        }
                    }
                   
                
                }

            
                    
                    img {
                        width: 175px;
                        border-radius: 50px;
                    }

                    .backend-pic {
                        width: 120px;
                    }

                
                
                    .deg0 { transform: translate(10em); }
                    .deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
                    .deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
                    .deg180 { transform: translate(-9em); }
                    .deg225 { transform: rotate(225deg) translate(10em) rotate(-225deg); }
                    .deg315 { transform: rotate(315deg) translate(10em) rotate(-315deg); }

            }

        
        }
    }


