@import "./global.scss";


body { 
 
  // background-color: white;
  color: $lightestSlate;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

}
.App {
  text-align: center;
  background-color: $navy;
}






