@import "./global.scss";


body { 
 
  background-color: #F7F7F7;
  color: $darkSlate;
  max-width: 100vw;
  overflow-x: hidden;

}
.App {
  text-align: center;
  background-color: $navy;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section-right {
  opacity: 0;
  transform: translateY(-5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section-right.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}






