@import '../../../global.scss';

.hamburger {
    display: none;
    width: 100px;
}

@media screen and (max-width: 995px){
    .hamburger {
        height: 25px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        left: 130%;
        z-index: 4;
      
            span { 
                width: 32px;
                height: 3px;
                background-color: $lightestSlate;
                transform-origin: left;
                transition: all 2s ease;
                }
    }

                .active {

                    .hamburger {

                
                   
                    span {
                        &:first-child {
                            
                            transform: rotate(45deg)
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:last-child {
                            transform: rotate(-45deg)
                        }
                    }
                }
    }

    
}
